@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    border-radius: .25rem;
    justify-content: center;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #4a4a4a;
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;
  }

  .modal-label {
    color: #fff;
    margin-bottom: .5rem;
  }

  .modal-errors {
    color: #ff0000;
    margin-bottom: .5rem;
  }

  .modal-input {
    width: 100%;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
  }
}
